* {
	box-sizing: border-box;
	/* border: 1px solid !important; */
}

body {
	text-align: center;
	margin: 0 auto;

	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 1fr;
}

body main {
	display: grid;
	grid-template-rows: auto auto auto auto auto;
	grid-template-columns: 1fr;
	grid-gap: 20px;
}

/* .collapse .navbar-collapse {
	justify-content: flex-end;
} */

.navbar .navbar-expand-lg .navbar-dark {
	background-color: black;
}

.home-container {
	background-color: black;
	/* background-image: url('https://res.cloudinary.com/dreamer123/image/upload/v1600315307/Sampreet-SEIR_831-unit1-portfolio/black-background_jbztq8.png');
	background-size: cover; */

	color: #fffcf2;
	text-align: left;
	padding: 50px 20px 50px 30px;
	width: 100% !important;
	display: flex;
	justify-content: space-between;
}

.home .title {
	font-family: 'Fira Sans', sans-serif;
	font-size: 50px;
	margin: 30px 0 20px 0;
	font-weight: bolder;
}

.home .sub-title {
	font-size: 30px;
	margin-bottom: 30px;
}

.home .brand-statement {
	font-size: 25px;
	margin: 30px 0px;
	padding: 20px 0px;
	font-style: italic;
}

hr {
	/* color: #fffcf2; */
	background-color: #eb5e28;
	margin: 0px;
	width: 30%;
	height: 0.25em;
}

.red {
	color: #eb5e28;
}

/* All Titles */
section header .title {
	font-family: 'Fira Sans', sans-serif;
	font-style: italic;
	font-size: 35px;
}

/* ABOUT ME */
.about-container {
	display: grid;
	grid-gap: 20px;
}
.about-main p {
	text-align: justify;
	text-justify: inter-word;
	margin: 10px 20px 0 20px;
}

.extra-about {
	display: none;
}

/* PROJECTS CAROUSEL */

.carousel-caption {
	background-color: rgba(0, 0, 0, 0.65);
	color: white;
	display: block;
}

/* ALL PROJECTS */
.projects-container {
	display: grid;
	grid-gap: 20px;
}

.project-card {
	display: grid;
	grid-gap: 10px;
	grid-template-areas:
		'photo photo' 'photo photo' 'title title'
		'description description' 'view view';
}

.project-image {
	grid-area: photo;
}

.project-image img {
	width: 75%;
	object-fit: cover;
}

.project-title {
	grid-area: title;
	margin: 10px;
	font-size: 20px;
	font-style: bold;
	font-weight: 600;
}

.project-description {
	grid-area: description;
	text-align: justify;
	text-justify: inter-word;
	padding: 10px 10px 10 10px;
}

.project-view {
	grid-area: view;
	margin: 10px 10px 20px 10px;
}

.project-view a {
	text-decoration: none;
	color: orange;
}
.project-view a:hover {
	text-decoration: underline;
	color: red;
	font-style: bold;
	font-size: 15px;
}

/*  CONTACT FORM  */

.contact-container {
	display: grid;
	grid-template-rows: 1fr 3fr;
	grid-template-columns: 1fr;
	justify-content: center;
	grid-gap: 10px;
	width: 100%;
}

.contact-main {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	padding: 10px;
}

label {
	text-align: left;
}
.contact .submit {
	background-color: #fffcf2;
	padding: 5px 20px;
	margin: 5px;
	width: 100%;
}

#contact-thanks {
	display: none;
	/* margin: 0;
	line-height-step: 0; */
}

#myTopBtn {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: grey; /* Set a background color */
	opacity: 0.9;
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 2px 13px 5px 13px;
	border-radius: 100%;
	font-size: 24px; /* Increase font size */
}

#myTopBtn:hover {
	background-color: #555; /* Add a dark-grey background on hover */
}
