* {
	box-sizing: border-box;
}

body {
	text-align: center;
	margin: 0 auto;

	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 1fr;
}

body main {
	display: grid;
	grid-template-rows: auto auto auto auto auto;
	grid-template-columns: 1fr;
	/* grid-gap: 20px; */
	/* row-gap: 40px; */
}

/* .collapse .navbar-collapse {
	justify-content: flex-end;
} */

.navbar .navbar-expand-lg .navbar-dark {
	background-color: black;
}

/* .navbar-expand-lg .navbar-collapse {
	display: flex;
	justify-content: flex-end !important;
} */

.home-container {
	background-color: black;

	color: #fffcf2;
	text-align: center;
	padding: 100px 30px 100px 30px;
	width: 100% !important;
	display: flex;
	justify-content: space-between;
}

.home .title {
	font-family: 'Fira Sans', sans-serif;
	font-size: 50px;
	margin: 30px 0 20px 0;
	font-weight: bolder;
	margin-bottom: 0;
	padding: 10px 30px 0ox 30px;
}

.home .sub-title {
	font-size: 30px;
	margin-bottom: 30px;
	padding: 0px 30px 20px 30px;
}

.home .brand-statement {
	font-size: 25px;
	margin: 30px 0px;
	padding: 20px 0px;
	font-style: italic;
}

hr {
	background-color: #eb5e28;
	padding-left: 35%;
	width: 20%;
	height: 0.25em;
	box-align: center;
}

.red {
	color: #eb5e28;
}

/* All Titles */
section header .title {
	font-family: 'Fira Sans', sans-serif;
	font-style: italic;
	font-size: 40px;
	padding-top: 50px;
	padding-bottom: 20px;
}

/* All Buttons */
.btn-primary,
.btn-submit {
	background-color: #eb5e28;
	font-style: bold;
	color: white;
	border-color: #eb5e28;
	box-shadow: 4px 4px 7px 2px rgba(0, 0, 0, 0.4);
	padding: 10px 20px;
	display: inline-block;
	border-radius: 12px;
}

/* ABOUT ME */
.about-container {
	display: grid;
	align-content: center;
	grid-gap: 20px;
	padding: 0px 30px;
}
.about-main p {
	text-align: justify;
	text-justify: inter-word;
	margin: 10px 20px 0 60px;
	font-family: 'Fira Sans', sans-serif;
	font-style: italic;
	font-size: 20px;
}

.extra-about {
	display: none;
}

/* PROJECTS CAROUSEL */

.project-carousel-header {
	margin-top: 40px;
}

.carousel-inner img {
	height: 400px;
}

.carousel-caption {
	background-color: rgba(0, 0, 0, 0.65);
	color: white;
	display: block;
}

.carousel-caption p {
	margin-bottom: 0;
}

.carousel-caption p a {
	margin-bottom: 0;
	color: #eb5e28;
}
/* ALL PROJECTS */

.projects-container {
	display: none;
}

/*  CONTACT FORM  */

.contact-container {
	background-color: black;
	color: white;

	display: grid;
	grid-template-rows: 1fr 2fr;
	grid-template-columns: 1fr;
	justify-content: center;
	grid-gap: 10px;
	width: 100%;
	padding: 15px;
}

.contact-header {
	padding: 30px;
}

.contact-main {
	display: flex;
	flex-direction: column;
	margin: 10px;
	padding: 10px;
	padding-bottom: 10px;
}

.title .contact-title {
	padding: 50px 50px 0px 50px;
}

.contact .submit {
	background-color: #fffcf2;
	padding: 5px 20px;
	margin: 5px;
	width: 100%;
}
.contact input,
textarea {
	border-radius: 10px;
	width: 75%;
}

#contact-thanks {
	display: none;
	font-family: 'Fira Sans', sans-serif;
	font-style: italic;
	font-size: 20px;
}

.social-media {
	font-size: 20px;
	font-style: bold;
	font-weight: 600;
}

.social-media a {
	color: #eb5e28;
}

.footer {
	background-color: black;
	font-size: 15px;
	color: white;
}

/*  GO-to-top Button */

#myTopBtn {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: grey; /* Set a background color */
	opacity: 0.9;
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 2px 13px 5px 13px;
	border-radius: 100%;
	font-size: 24px; /* Increase font size */
}

#myTopBtn:hover {
	background-color: #555; /* Add a dark-grey background on hover */
}
